{% extends 'pageWrapper.html' %}

{% block head %}
    <title>>Naix's Info</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/landing.css") }}" />
{% endblock %}

{% block body %}
    {% include 'header/oceanIslandHeader.html' %}
     <div id="landing" class="grass-island">
            <div id="landing-body">
                <p id="first-line">[EN] Hello chat!</p>
                <p>
		    Naix is a GameDeveloper that love randomizers. He developed Hades implementation
		    for Archipelago and setup this mirror for a more controlled used.
		</p>
                <p>	
                    You can support him on <a href="https://www.twitch.tv/naixsgames">Twitch</a>.
		    If you want to play with his server, feel free to join <a href="https://discord.com/invite/DZZHqAXBgA"> here </a>!
                </p>
            </div>
        </div>
    </div>

    <div id="landing" class="grass-island">
            <div id="landing-body">
                <p id="first-line">[ES] Hola chat!</p>
                <p>
		    Naix es un desarrollador de videojuegos al que le encantan los randomizers. Desarrolló la implementación de Hades
		    para Archipelago y configure este copia del server de Archipelago para un uso más controlado.
		</p>
                <p>	
                    Puedes verlo y apoyarlo <a href="https://www.twitch.tv/naixsgames">Twitch</a>.
		    Si quieres jugar en su server, eres bievenido a unirte <a href="https://discord.com/invite/DZZHqAXBgA"> aqui </a>!
                </p>
            </div>
        </div>
    </div>

    {% include 'islandFooter.html' %}
{% endblock %}
